
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(small.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color:aliceblue;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:aliceblue ;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: ' ';
    height: 3px;
    width: 0%;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
}
.content h2{
    font-size: 40px;
    font-style: oblique;
    margin-top: 80px ;

}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 30px;
}
.room-booking-button {
    background-color: #007bff; /* Blue */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .room-booking-button:hover {
    background-color: #0056b3; /* Darker blue */
  }
footer{
    background: rgb(29, 29, 29);
    height: auto;
    width: 100vw;
    font-family: "open sans";

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;

}
.socials a{
    text-decoration: none;
    

}

.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    color: aliceblue;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
