body{
    align-items: center;
    text-align: center;
}
*{
    margin: 0;
    padding : 10px;
    font-family: sans-serif;
}
.main{
        width: 100%;
        height: 100%;
        background-color: rgb(15, 77, 56);
        background-position: center;
        background-size: cover;
        color:rgb(10, 10, 10);
}
.main h1{
    text-align: center;
    text-decoration: double; 
    left:50%S ;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.center th{
    position: absolute;
    left: 50%;
    padding-bottom: 10px;
    font-size: 20px;
}
.p{
    text-align: justify;
    font-size: large;

} 
.centera th{
    text-align: center;
    position: absolute;
    font-size: 20px;
}
.spa{
    position: absolute;
    left: 50%;
    padding-bottom: 10px;
    font-size: 20px;
}